table { border-collapse: collapse; width: 80%; margin: 20px 0; }
table {
	margin-left: auto;
	margin-right: auto;
}
th, td { border: 1px solid #ccc; padding: 8px; }
th { background: #eee; }
input[type="text"] { width: 100px; }
button { margin: 2px; }